<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This job is for executing Java TestNG automation test scripts on a Visualiser application. It builds and packages the test project and uploads it along with the Android and iOS binaries to AWS DeviceFarm and runs it all on the list of selected devices.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>10</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <org.jvnet.jenkins.plugins.nodelabelparameter.LabelParameterDefinition plugin="nodelabelparameter@1.7.2">
          <name>DeviceFarm</name>
          <description>The label used to tag any Jenkins agents with access to Device Farm. This job will only run on Jenkins agents labeled like this. The default value is &quot;devicefarm&quot;.</description>
          <defaultValue>devicefarm</defaultValue>
          <allNodesMatchingLabel>false</allNodesMatchingLabel>
          <triggerIfResult>allCases</triggerIfResult>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.LabelParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PARENT_BUILD_NUMBER</name>
          <description>This job tests the binaries of a mobile app generated by a prior job called [ProjectName]_KickStarter. This parameter is the number of the execution of that job from which the binaries will be taken -e.g. If you want to test the binaries generated by build #15 of [ProjectName]_KickStarter, then type &quot;15&quot; here.</description>
          <defaultValue>40</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>binaryname</name>
          <description>The name of the mobile app&apos;s binary file -i.e. the name of the .apk, .ipa file.</description>
          <defaultValue>NouveauUsagesNumeriques</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BASE_FOLDER</name>
          <description>An AWS S3 url that points to the location of the binary files to be tested. -e.g.:
s3://kony-ci0001-storage1/KonyCI/&lt;OrgName&gt;/&lt;RepositoryName&gt;/NouveauUsagesNumeriques_KickStarter/build&lt;required build number&gt;</description>
          <defaultValue>s3://kony-ci0001-storage1/KonyCI/EHS/NouveauUsagesNumeriques/NouveauUsagesNumeriques_KickStarter/build40</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MAIL_RECIPIENTS</name>
          <description>A comma separated list of the e-mail addresses of the people that must receive the notification with the test results.</description>
          <defaultValue>sandeep.kancherla@kony.com,raveendranatha.kachana@kony.com,miguelangel.fernandez@Kony.com,lakshmi.prasanna.magna@kony.com,nzouari@warren-walter.com</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PROP_FILE_PATH</name>
          <description>The path to the &quot;ci_config&quot; folder once it has been pulled from the Git server by the KickStarter job -e.g.:
jobs/[ProjectName]_KickStarter/workspace/ci_config</description>
          <defaultValue>jobs/NouveauUsagesNumeriques_KickStarter/workspace/ci_config</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>PROP_ZIP_FILE_NAME</name>
          <description>In order to test the binaries generated by the corresponding [ProjectName]_KickStarter build job, this test job also requires some configuration files passed down from that one. Those configuration files are zipped and moved from the Jenkins master which executes the [ProjectName]_KickStarter to the Jenkins agent executing this test job. This parameter specifies the name of the zip file used.</description>
          <defaultValue>NouveauUsagesNumeriques_KickStarter</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TEST_PROJECT</name>
          <description>The Git url of the project containing the source code for the tests automation scripts to be used for this test job -e.g.:
https://konyci-src.ci.konycloud.com/[ProjectOrg]/[ProjectName]-tests.git</description>
          <defaultValue>https://konyci-src.ci.konycloud.com/KonyServices/TestAutomationSampleTests.git</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>TEST_PROJECT_BRANCH</name>
          <description>The name of the branch of the Git repository containing the source code for the tests automation scripts to be used for this test job. This allows you to keep different sets of tests kept under different branches. So for instance if you&apos;ve developed a new feature for your project under branch &quot;feature/FOO-34&quot; of repository &quot;[ProjectName]-app&quot; you could also store the test scripts for that feature under a corresponding branch &quot;feature/FOO-34&quot; of repository &quot;[ProjectName]-tests&quot; -e.g.:
&quot;master&quot;, &quot;develop&quot;, &quot;feature/FOO-34&quot;</description>
          <defaultValue>develop</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.0.1">
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit></paramsToUseForLimit>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.5.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>${TEST_PROJECT}</url>
        <credentialsId>Git-JW5410</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/${TEST_PROJECT_BRANCH}</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <gitTool>Default</gitTool>
    <submoduleCfg class="list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
        <relativeTargetDir>${WORKSPACE}/TEST_AUTOMATION_PROJECT</relativeTargetDir>
      </hudson.plugins.git.extensions.impl.RelativeTargetDirectory>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cd &quot;${WORKSPACE}/TEST_AUTOMATION_PROJECT&quot;
`echo mvn clean package -DskipTests=true`

cd &quot;${WORKSPACE}&quot;
cp &quot;${WORKSPACE}/TEST_AUTOMATION_PROJECT/target/zip-with-dependencies.zip&quot; &quot;${binaryname}_TestApp.zip&quot;

echo &quot;$WORKSPACE/$PROP_FILE_PATH&quot;
cd &quot;$WORKSPACE/$PROP_FILE_PATH&quot;

pwd
mkdir &quot;$WORKSPACE/ci_config&quot;

tar -xvf $PROP_ZIP_FILE_NAME.tar.gz -C &quot;$WORKSPACE/ci_config&quot;

cd &quot;$WORKSPACE/ci_config&quot;

grep -v &apos;^[[:space:]]*$&apos; DeviceFarmCLI.properties &gt; DeviceFarmCLINew.properties
rm -rf DeviceFarmCLI.properties
tr -d &apos;\r\f&apos; &lt;DeviceFarmCLINew.properties &gt;DeviceFarmCLI.properties
rm -rf DeviceFarmCLINew.properties
chmod 777 DeviceFarmCLI.properties

cd &quot;$WORKSPACE/ci_config/notification_templates&quot;

cd &quot;$WORKSPACE/ci_config/TestAutomationScripts&quot;

tr -d &apos;\r\f&apos; &lt; DeviceFarmCLIInit.sh &gt; DeviceFarmCLIInitNew.sh
mv DeviceFarmCLIInitNew.sh DeviceFarmCLIInit.sh
chmod 777 DeviceFarmCLIInit.sh

tr -d &apos;\r\f&apos; &lt; DeviceFarmCLIRun.sh &gt; DeviceFarmCLIRunNew.sh
mv DeviceFarmCLIRunNew.sh DeviceFarmCLIRun.sh
chmod 777 DeviceFarmCLIRun.sh

tr -d &apos;\r\f&apos; &lt; DeviceFarmCLIResults.sh &gt; DeviceFarmCLIResultsNew.sh
mv DeviceFarmCLIResultsNew.sh DeviceFarmCLIResults.sh
chmod 777 DeviceFarmCLIResults.sh

APK_NAME=$(echo ${binaryname}_${PARENT_BUILD_NUMBER}.apk)
IPA_NAME=$(echo ${binaryname}_${PARENT_BUILD_NUMBER}.ipa)
echo &quot;IPA_NAME ::$IPA_NAME&quot;
echo &quot;APK_NAME ::$APK_NAME&quot;

./DeviceFarmCLIInit.sh &quot;${WORKSPACE}/ci_config/DeviceFarmCLI.properties&quot; &quot;${binaryname}&quot; &quot;${APK_NAME}&quot; &quot;${IPA_NAME}&quot; &quot;${BASE_FOLDER}&quot;
</command>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.1.3">
      <info>
        <propertiesFilePath>${WORKSPACE}/ci_config/DeviceFarmCLI.properties</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
    <hudson.tasks.Shell>
      <command>RESULTS_TEMPLATE_TITLE=&quot;$JOB_NAME - # $BUILD_NUMBER - $TEST_EXECUTION_STATUS&quot;
sed -i -e &apos;s|$TestResultsTitle|&apos;&quot;$RESULTS_TEMPLATE_TITLE&quot;&apos;|g&apos; &quot;$NOTIFICATION_TEMPLATE&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper plugin="copy-to-slave@1.4.4">
      <includes>${PROP_FILE_PATH}\${PROP_ZIP_FILE_NAME}.tar.gz</includes>
      <excludes></excludes>
      <flatten>false</flatten>
      <includeAntExcludes>false</includeAntExcludes>
      <hudsonHomeRelative>false</hudsonHomeRelative>
      <relativeTo>home</relativeTo>
    </com.michelin.cio.hudson.plugins.copytoslave.CopyToSlaveBuildWrapper>
  </buildWrappers>
</project>